<!--//This file was adapted from CS340's nodejs starter app repo.-->

<!DOCTYPE html>
<html>
  <head>
    <title>SocialByte - Edit User</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/app.css">
  </head>
  <body>
    <div class="banner">
      <h1>SocialByte</h1>
    </div>    
    <nav>
      <a href="index">Home</a>
      <a href="posts">Posts</a>
      <a href="users">Users</a>
      <a href="hashtags">Hashtags</a>
      <a href="comments">Comments</a>
    </nav>
    <main>
        <script>
            // Retrieve the User ID from the URL
            const urlParams = new URLSearchParams(window.location.search);
            const userId = urlParams.get('id');
        </script>
    <!-- container for user edit form. -->
    <div class="user-edit-container">
      <form>
        <label><h1>Edit User</h1></label> 
        <form id="editUser">            
            <fieldset class="fields">
                <!--We will fill these fields in the future with information from that user-->
                <label> Name </label> <input type="text" name="name" value="User Name">
                <label> Email</label> <input type="text" name="email" value="User Email">
                <label> Password</label> <input type="text" name="password" value="User Password">
                <label> Username</label> <input type="text" name="username" value="Username">
                <label> About</label> <input type="text" name="about" value="About User">
                <label> Interests</label> <input type="text" name="interests" value="User Interests">
                <label> Location</label> <input type="text" name="location" value="User Location">
            </fieldset> 
            <input class="btn" type="submit" id="submitUser" value="Save Changes">
        </form>        
    </div>
    </main>
    <footer>
      <p>&copy; 2023 SocialByte</p>
    </footer>
  </body>
</html>
