<!--//This file was adapted from CS340's nodejs starter app repo.-->

<!DOCTYPE html>
<html>
  <head>
    <title>SocialByte</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/app.css">
  </head>
  <body>
    <div class="banner">
      <h1>SocialByte</h1>
    </div>    
    <nav>
      <a href="index">Home</a>
      <a href="posts">Posts</a>
      <a href="users">Users</a>
      <a href="hashtags">Hashtags</a>
      <a href="comments">Comments</a>
      <a href="posts_hashtags">Posts_Hashtags</a>

    </nav>
    <main>
    <div class="container">
      <h1>Welcome to SocialByte!</h1>
      <p>This is the home page of SocialByte. Feel free to explore the other pages using the navigation bar above.</p>
    </div>
    </main>
  <footer>
      <p>&copy; 2023 SocialByte</p>
  </footer>
  </body>
</html>
