<!-- This file was adapted from the CS340 Node starter app repo -->
<!-- main.hbs-->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>SocialByte</title>
</head>
<body>

    {{{body}}}

</body>
</html>